	html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #F6F4F3;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #4E4D4D;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #383838;
	}

	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		width: 1200px;
		margin: 0px auto;
	}
	.container1
	{
		padding: 10px;
          width: 1200px;
        height:350px;
		margin: 0px auto;
	}
    .container2
	{
		width: 1200px;
        height:1000px;
		margin: 0px auto;

	}
    .container3
	{
		padding: 10px;
          width: 1200px;
        height:450px;
		margin: 0px auto;
	}
    .list1
	{
		font-size:50px;
        color:red;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}

	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #3f3f3f;
	}

	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}


	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}
    .titletest
	{
		text-align: center;
        width: 600px;
        height: 400px;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #3f3f3f;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}

	.button:before
	{
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #3f3f3f;

	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 4em 0em;
		text-transform: uppercase;
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
	}

	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}

	#logo h1:before
	{

	}

	#logo a
	{
		color: #3f3f3f;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 20px 0px 20px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}

	#menu li
	{
		display: inline-block;
	}

	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}

	#menu .current_page_item a
	{
	}

	#menu a:hover
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 20px;
		border-top: 1px solid #E5E5E5;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{

        float: left;
		width: 30%;
		height: 300px
	}
	#content h2
	{
		font-size: 2em;
	}

	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}

	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

    #copyright b
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
		color: #da28e0;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}

	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #3f3f3f;
	}

	.column1,
	.column2,
	.column3,
	.column4
	{
		width: 282px;
	}

	.column1,
	.column2
	{
		float: left;
		margin-right: 24px;
	}

	.column3
	{
		float: left;
	}

	.column4
	{
		float: right;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 6em 0em;
	}

	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}

	#portfolio img
	{
		margin: 0;
		padding: 0;
	}

	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-bottom: 2px solid #7C7C7C;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}

/*********************************************************************************/
/* ¿ï³æ                                                                  */
/*********************************************************************************/
	#list
	{
		font-size:30px;
        color:blue;
        padding:10px;
	}
    #list1
	{
		font-size:30px;
        color:green;
        padding:10px;
	}
	#corrs{
		margin-top: 10px;
		float: none;
		font-family: Microsoft JhengHei
	}

    #map{
    	height: 1000px;
    	width: 100%;
	}

	#infowindow{
		font-family:Microsoft JhengHei;
		width:130px;
		float:left;
		margin:0px 5px;
		padding-left: 5px;
		padding-bottom:0px;
	}

	.original{
		width:0px;
		height:0px;
	}
	#here{
		width:50%;
		float: left;
	}
	#pano{
		height: 100%;
		width:50%;
	}
	.ui-jqgrid tr.jqgrow td {
	white-space: normal !important;
	}
	.outteritem{
		height: 50px;
	}
	.item{
		width:100px;
		height: 30px;
		margin:0px;
		float: left;
		font-family: Microsoft JhengHei
	}
	input{
		height: 30px;
		float: left;
	}
	select{
		height: 30px;
		float: left;
	}
	.inputbox{
		width:50px;
	}

	.shoot{
		float: none;
		height: auto;
		width:auto;
		overflow:hidden
	}
/*	#loadingIMG{
		width: 100%;
		height: 210px;
		text-align: center;
		line-height: 210px;
	}*/
	#address{
		font-family: Microsoft JhengHei;
		width: 100%
	}
	table{
		font-family: Microsoft JhengHei;
	}